.custom-heading{
    color: #A2C1F8;
}
.italic-text{
    font-style: italic;
    color: #ffffff;
}
.text-color{
    color: #ffffff;
}
.text-color-span{
    color:yellow;
}
a:hover {
    color: blue;
}
a:visited {
    color: red;
}